<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JMMV - Front</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Edit Client Form</h1>
    
    <form action="#" th:action="@{/client}" th:object="${client}" method="post">
    	<p th:text="'ID : ' + ${client.getId()}" />
    	<p th:text="'Prenom actuel : ' + ${client.getPrenom()}" />
        <p>Nouveau prenom : <input type="text" th:field="*{prenom}" /></p>
        <p th:text="'Nom actuel : ' + ${client.getNom()}" />
        <p>Nouveau nom : <input type="text" th:field="*{nom}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    
</body>
</html>